/* Common Styles for Login and Register Pages */
.login-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-box, .register-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-logo, .register-logo {
    height: 80px;
    margin-bottom: 20px;
}

.MuiTextField-root {
    margin-bottom: 16px;
}

.MuiButton-root {
    height: 45px;
}
